#after_login_popup {
    display: none;
}

#show_congrats {
    box-sizing: border-box;
    display: none;
    justify-content: center;
    line-height: 40px;
    gap: 40px;
    margin-top: 30px;
    img {
        width: 100px;
        position: relative;
        left: 120px;
    }
    h3 {
        display: block;
        text-align: center;
        line-height: 40px;
    }
    p {
        text-align: center;
    }
    
}