section {
    .login-header {
        text-align: center;
        margin-top: 10px;
        p {
            font-size: 40px;
            font-weight: 900;
        }
        p:nth-child(2) {
            display: inline;
            color: dodgerblue;
            border: none;
            padding: 0 20px 20px 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 29px 0px -25px;
            // border: 1px solid #000;
        }
    }
    .login-form{
        width: 400px;
        margin: auto;
        margin-top: 30px;
        form {
            text-align: justify;
            width: 204px;
            margin: auto;
            label {
                font-size: 20px;
            }
            input {
                width: 200px;
                height: 30px;
            }
        }
    }
}