@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: visible;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

header {
  height: auto;
}
header nav {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 100;
  border-bottom: 1px solid #c3c3c3;
  height: 82px;
  display: flex;
  justify-content: space-between;
}
header nav .left-side-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}
header nav .left-side-nav .logo-section a img {
  position: relative;
  left: 30px;
}
header nav .left-side-nav .categories-section ul {
  position: absolute;
  top: -8.9px;
  width: 430px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
}
header nav .left-side-nav .categories-section ul li {
  list-style-type: none;
  position: relative;
  padding: 34px 0px;
}
header nav .left-side-nav .categories-section ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
header nav .left-side-nav .categories-section ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  width: 0;
  height: 2px;
  background-color: #1c7ed6;
  transition: width 0.3s ease;
}
header nav .left-side-nav .categories-section ul li:hover a::after {
  width: 100%;
}
header nav .left-side-nav .categories-section ul li a:hover {
  font-weight: 900;
}
header nav .left-side-nav .categories-section ul .category-dropdown {
  position: absolute;
  top: 91px;
  left: -175px;
  background-color: white;
  border: 1px solid #e6e8e8;
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 14px 60px;
  display: none;
}
header nav .left-side-nav .categories-section ul .category-dropdown div {
  display: flex;
  width: 180px;
  align-items: center;
}
header nav .left-side-nav .categories-section ul .category-dropdown div img {
  width: 50px;
  height: 50px;
}
header nav .left-side-nav .categories-section ul .category-dropdown div p {
  font-size: 11px;
}
header nav .left-side-nav .categories-section ul .category-dropdown div:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s ease-out;
}
header nav .left-side-nav .categories-section ul .more-options {
  border: 1px solid #000;
  position: absolute;
  width: 190px;
  top: 91px;
  left: 290px;
  background-color: white;
  border: 1px solid #e6e8e8;
  padding: 20px;
  display: none;
}
header nav .left-side-nav .categories-section ul .more-options a {
  display: block;
  font-size: 15px;
  text-align: justify;
  text-decoration: none;
  color: #1a2120;
  transition: 0.25s ease-in-out;
}
header nav .left-side-nav .categories-section ul .more-options a:hover {
  color: #868484;
}
header nav .profile-section {
  align-items: center;
  display: flex;
  margin-right: 40px;
  gap: 15px;
}
header nav .profile-section .search-bar input {
  width: 300px;
  height: 41.2px;
  padding: 11px 35px;
  border: none;
  border-radius: 40px;
  background-color: #f4f5f7;
  outline: none;
}
header nav .profile-section .search-bar input::-moz-placeholder {
  position: relative;
  top: 2px;
  right: 22px;
}
header nav .profile-section .search-bar input::placeholder {
  position: relative;
  top: 2px;
  right: 22px;
}
header nav .profile-section .search-bar input::-webkit-input-placeholder {
  background-image: url("https://cdn-icons-png.flaticon.com/128/54/54481.png");
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
header nav .profile-section .search-bar input:focus {
  font-size: 13.5px;
}
header nav .profile-section .search-bar input::-ms-clear,
header nav .profile-section .search-bar input::-ms-reveal {
  display: none;
}
header nav .profile-section .search-bar input::-webkit-search-decoration,
header nav .profile-section .search-bar input::-webkit-search-cancel-button,
header nav .profile-section .search-bar input::-webkit-search-results-button,
header nav .profile-section .search-bar input::-webkit-search-results-decoration {
  display: none;
}
header nav .profile-section .profile-cart {
  display: flex;
  gap: 20px;
}
header nav .profile-section .profile-cart img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
header nav .profile-section .profile-cart img:nth-child(2) {
  height: 22px;
  width: 22px;
}
header nav .profile-section .profile-cart .before-login-popup {
  display: none;
  border: 1px solid #000;
  padding: 10px;
  width: 200px;
  height: 65px;
  position: absolute;
  right: 8px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 2px #ccc;
  top: 72px;
  border-radius: 0.25rem;
}
header nav .profile-section .profile-cart .before-login-popup span {
  position: absolute;
  left: 196.5px;
  color: #1c7ed6;
  top: 3px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 900;
}
header nav .profile-section .profile-cart .before-login-popup p {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 590;
}
header nav .profile-section .profile-cart .before-login-popup button {
  width: 200px;
  height: 31px;
  border: none;
  background-color: #1c7ed6;
  color: white;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  top: 11px;
}
header nav .profile-section .profile-cart .after-login-popup {
  display: none;
  border: 1px solid #000;
  width: 200px;
  height: 159px;
  padding: 10px;
  position: absolute;
  top: 72px;
  right: 8px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 2px #ccc;
}
header nav .profile-section .profile-cart .after-login-popup span {
  position: absolute;
  left: 196.5px;
  color: #1c7ed6;
  top: 3px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 900;
}
header nav .profile-section .profile-cart .after-login-popup p {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 590;
}
header nav .profile-section .profile-cart .after-login-popup a {
  position: relative;
  right: 8px;
  display: block;
  margin: 7.35px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
header nav .profile-section .profile-cart .after-login-popup a i {
  color: #1c7ed6;
}
header nav .profile-section .profile-cart .after-login-popup button {
  width: 200px;
  height: 31px;
  border: none;
  background-color: #1c7ed6;
  color: white;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  top: 14px;
}
header nav .profile-section .profile-cart .cart-slider-popup {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: 0.8s ease;
  overflow-y: auto;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container {
  position: relative;
  left: 0;
  width: 66vh;
  height: 100%;
  background-color: #fff;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container #closeCartPopup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #444;
  font-size: 26px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container #closeCartPopup:hover {
  text-decoration: none;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-heading {
  border: none;
  border-bottom: 1px solid #eee;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  font-weight: 900;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products {
  max-height: 300px;
  overflow-y: auto;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .frees {
  height: 62px;
  background-color: rgba(238, 238, 238, 0.5176470588);
  display: grid;
  padding: 12px;
  grid-template-columns: 70px 90px 70px 50px;
  justify-content: space-evenly;
  text-align: center;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .frees .reliefs {
  line-height: 1.1;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .frees .reliefs img {
  width: 34px;
  height: 30px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .frees .reliefs p {
  font-size: 12px;
  text-align: center;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .frees .reliefs:nth-child(3) img {
  width: 54px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(238, 238, 238, 0.5176470588);
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product {
  display: flex;
  padding: 8px 12px;
  gap: 10px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product img {
  border: none;
  background-color: rgba(238, 238, 238, 0.5176470588);
  border-radius: 12px;
  width: 92px;
  height: 97px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details p {
  font-size: 14px;
  font-weight: 600;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details h3 {
  font-size: 17px;
  font-weight: 700;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity {
  width: 265px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity span {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgba(238, 238, 238, 0.5176470588);
  border: none !important;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity .quantity {
  border: 1px solid rgba(231, 228, 228, 0.7960784314);
  border-radius: 12px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity .quantity button:nth-child(1) {
  width: 25px;
  height: 27px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(231, 228, 228, 0.7960784314);
  font-weight: 900;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity .quantity button:nth-child(3) {
  width: 25px;
  height: 27px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(231, 228, 228, 0.7960784314);
  font-weight: 900;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .cart-products .product-cart-div .a-product .product-details .color-quantity .quantity span {
  width: 30px;
  height: 27px;
  border: 1px solid #000;
  background-color: transparent;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area {
  box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.15);
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon {
  width: 100%;
  height: 120px;
  border: 1px solid white;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 {
  margin: auto;
  margin-top: 5px;
  width: 92%;
  height: 109px;
  border-radius: 8px;
  background-color: #eff3f5;
  border: 1px solid rgba(227, 225, 225, 0.5176470588);
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 div {
  position: relative;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 div p {
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 div p img {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 #coupon_code {
  position: relative;
  top: 13.9px;
  left: 40px;
  font-size: 12px;
  color: #868484;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 button {
  position: relative;
  width: 69px;
  height: 28px;
  right: -280px;
  top: -35.5px;
  background-color: #1b2024;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 900;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 hr {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(227, 225, 225, 0.5176470588);
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .coupon #if_morethan_1500 a {
  text-decoration: none;
  margin-left: 110px;
  color: #1a2120;
  font-weight: 600;
  font-size: 14px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .gst-checkbox {
  padding: 5px;
  margin-top: 20px;
  margin-left: 10px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .gst-checkbox p {
  position: relative;
  top: -7px;
  display: inline;
  font-size: 12px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .gst-checkbox input {
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .gst-checkbox input::before {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .checkout {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .checkout div p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .checkout div p:nth-child(2) {
  color: #4a5157;
  font-size: 9px;
}
header nav .profile-section .profile-cart .cart-slider-popup .main-cart-container .down-cart-area .checkout button {
  width: 210px;
  height: 45px;
  position: relative;
  right: 10px;
  background-color: #1b2024;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
}
header nav .profile-section .profile-cart .cart-slider-popup.show {
  right: 0;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */