@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  height: 82px;
}
header nav {
  display: fixed;
  z-index: 999;
  border-bottom: 1px solid #c3c3c3;
  height: 82px;
  display: flex;
  justify-content: space-between;
}
header nav .left-side-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}
header nav .left-side-nav .logo-section a img {
  position: relative;
  left: 30px;
}
header nav .left-side-nav .categories-section ul {
  position: absolute;
  top: -8.9px;
  width: 430px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
}
header nav .left-side-nav .categories-section ul li {
  list-style-type: none;
  position: relative;
  padding: 34px 0px;
}
header nav .left-side-nav .categories-section ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
header nav .left-side-nav .categories-section ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  width: 0;
  height: 2px;
  background-color: #1c7ed6;
  transition: width 0.3s ease;
}
header nav .left-side-nav .categories-section ul li:hover a::after {
  width: 100%;
}
header nav .left-side-nav .categories-section ul li a:hover {
  font-weight: 900;
}
header nav .left-side-nav .categories-section ul .category-dropdown {
  position: absolute;
  top: 91px;
  left: -175px;
  background-color: white;
  border: 1px solid #000;
  border-top: 0px solid #000;
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 14px 60px;
  z-index: -1;
  display: none;
}
header nav .left-side-nav .categories-section ul .category-dropdown div {
  display: flex;
  width: 180px;
  align-items: center;
}
header nav .left-side-nav .categories-section ul .category-dropdown div img {
  width: 50px;
  height: 50px;
}
header nav .left-side-nav .categories-section ul .category-dropdown div p {
  font-size: 11px;
}
header nav .left-side-nav .categories-section ul .category-dropdown div:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s ease-out;
}
header nav .profile-section {
  align-items: center;
  display: flex;
  margin-right: 40px;
  gap: 15px;
}
header nav .profile-section .search-bar input {
  width: 300px;
  height: 41.2px;
  padding: 11px 35px;
  border: none;
  border-radius: 40px;
  background-color: #f4f5f7;
  outline: none;
}
header nav .profile-section .search-bar input::-moz-placeholder {
  position: relative;
  top: 2px;
  right: 22px;
}
header nav .profile-section .search-bar input::placeholder {
  position: relative;
  top: 2px;
  right: 22px;
}
header nav .profile-section .search-bar input::-webkit-input-placeholder {
  background-image: url("https://cdn-icons-png.flaticon.com/128/54/54481.png");
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
header nav .profile-section .search-bar input:focus {
  font-size: 13.5px;
}
header nav .profile-section .search-bar input::-ms-clear,
header nav .profile-section .search-bar input::-ms-reveal {
  display: none;
}
header nav .profile-section .search-bar input::-webkit-search-decoration,
header nav .profile-section .search-bar input::-webkit-search-cancel-button,
header nav .profile-section .search-bar input::-webkit-search-results-button,
header nav .profile-section .search-bar input::-webkit-search-results-decoration {
  display: none;
}
header nav .profile-section .profile-cart {
  display: flex;
  gap: 20px;
}
header nav .profile-section .profile-cart img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
header nav .profile-section .profile-cart img:nth-child(2) {
  height: 22px;
  width: 22px;
}
header nav .profile-section .profile-cart .before-login-popup {
  display: none;
  border: 1px solid #000;
  padding: 10px;
  width: 200px;
  height: 65px;
  position: absolute;
  right: 8px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 2px #ccc;
  top: 72px;
  border-radius: 0.25rem;
}
header nav .profile-section .profile-cart .before-login-popup span {
  position: absolute;
  left: 196.5px;
  color: #1c7ed6;
  top: 3px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 900;
}
header nav .profile-section .profile-cart .before-login-popup p {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 590;
}
header nav .profile-section .profile-cart .before-login-popup button {
  width: 200px;
  height: 31px;
  border: none;
  background-color: #1c7ed6;
  color: white;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  top: 11px;
}
header nav .profile-section .profile-cart .after-login-popup {
  display: none;
  border: 1px solid #000;
  width: 200px;
  height: 159px;
  padding: 10px;
  position: absolute;
  top: 72px;
  right: 8px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 2px #ccc;
}
header nav .profile-section .profile-cart .after-login-popup span {
  position: absolute;
  left: 196.5px;
  color: #1c7ed6;
  top: 3px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 900;
}
header nav .profile-section .profile-cart .after-login-popup p {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 590;
}
header nav .profile-section .profile-cart .after-login-popup a {
  position: relative;
  right: 8px;
  display: block;
  margin: 7.35px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
header nav .profile-section .profile-cart .after-login-popup a i {
  color: #1c7ed6;
}
header nav .profile-section .profile-cart .after-login-popup button {
  width: 200px;
  height: 31px;
  border: none;
  background-color: #1c7ed6;
  color: white;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  top: 14px;
}/*# sourceMappingURL=index.css.map */